<!DOCTYPE html>
<html>
<head>
  <title>AjaxifiedScaffold</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div style="align:center">
		<a style="color:red" href ="http://www.codebeerstartups.com/ajaxify-your-site-with-remote-true/"> Explaination can be found here.</a>
		<a style="color:green"  href ="https://github.com/mohitjain/ajaxified_scaffold#readme"> Source code</a>
	</div>	
<%= yield %>
</body>
</html>
